<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   
        <nav class="nav ">
            <a class="nav-link active" aria-current="page" href="#">les Appeles</a>
            <a class="nav-link" href="#">Jour</a>
            <a class="nav-link" href="#">Evening</a>
            <a class="nav-link" href="#">Nuit</a>

            
          </nav>

</body>
</html>
