<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagonal Split Design</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="split-design">
        <img src="static/images/data-graphics-analysis-svgrepo-com.svg" alt="description" style="width: 120px; height: 120px;" id="img1">
        <img src="static/images/search.png" alt="search" style="width: 120px; height: 120px;" id="img2">
        <img src="static/images/person.png" alt="search" style="width: 120px; height: 120px;" id="img3">
        <img src="static/images/data.png" alt="search" style="width: 120px; height: 120px;" id="img4">
        <div class="message-box">
            Application de Prédiction de désabonnement des clients d’opérateur de Télécommunication
        </div>

    </div>
    <script type='text/javascript' src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>
