<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Interface Simple</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>Interface de Prédiction de désabonnement des clients d’opérateur de Télécommunication</h1>
    <div class="dashboard">
        <h2>Dashboard</h2>
        <div class="dashboard">
            <h2>Dashboard</h2>
            <canvas id="myChart"></canvas>
       </div>
    </div>
    <script type='text/javascript' src="{{ url_for('static', filename='js/main.js') }}"> </script>
</body>
</html>
-->

